<script>
  $(document).ready(function () {
    $("#Cpassword").on('keyup', function () {
      var password = $("#Password").val();
      var confirmPassword = $("#Cpassword").val();
      if (password != confirmPassword)
        $("#CheckPasswordMatch").html("Password doesnot match !").css("color", "red");
      else
        $("#CheckPasswordMatch").html("Password match !").css("color", "green");
    });
  });
</script>

{{!-- <div class="container row align-items-center ">
  <form method="post" action="/editpswrd">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter your Mobile Number</label>
      <input type="number" class="form-control" id="" name="fgMobile" placeholder="Mobile Number">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter your New Password</label>
      <input type="password" class="form-control" id="Password" name="fgPassword" placeholder="New password">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="Cpassword" name="fgCpassword" placeholder="Confirm Password">
      <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> --}}

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">RESET YOUR PASSWORD</p>

                <form class="mx-1 mx-md-4" method="post" action="/editpswrd">

                  <div class="d-flex flex-row align-items-center mb-4">
                   <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" id="form3Example3c" name="fgMobile" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Mobile Number</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="Password" name="fgPassword"  class="form-control" />
                      <label class="form-label" for="form3Example4c">New Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="Cpassword" name="fgCpassword" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  {{!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div> --}}

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">SUBMIT</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>